@autograph.run:registry=https://gitlab.com/api/v4/packages/npm/

# To download packages from the private gitlab at Karousels
'//gitlab.com/api/v4/packages/npm/:_authToken'="${AUTOGRAPH_REGISTRY_AUTH_TOKEN}"

# For FLM this goes to the FM registry for the private group registry.flm.karousels at
# https://gitlab.com/karousels.root/karousels.dev/karousels.firstlookmilestone/registry.flm.karousels
#
'//gitlab.com/api/v4/projects/31500273/packages/npm/:_authToken'="${AUTOGRAPH_REGISTRY_AUTH_TOKEN}"
# Using npm
# AUTOGRAPH_REGISTRY_AUTH_TOKEN=MMMMMMXXXXXX npm publish